.pokemonList {
    border: darkseagreen solid 3px;
    background: white;
    margin: 0.1em;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-img {
    width: 200px;
    height: 200px;
}

.pokemonList button {
    margin-bottom: 5px;
}

.pokemonList .card {
    margin-top: 5px;
    border: none;
}